.title{
    font-family: sans-serif;
    font-weight: bold;
    font-size: xx-large;
    color: #00AEEF;
    padding-top: 11px; /*Hace que el titulo esté completamente centrado. Manual*/
    margin-right: 11px; /*Separa del componente de 3 puntos*/
}